 h1, h2{
    color: #ffffff;
    font-size: 3.0em;
} 

h3 {
    color:#fdfdfd;
    font-size: 2.0em;
}

h4 {
    font-size: 3.0em;
    color: #484a5a;
}

body {
    background-color: #999a9b;
}

nav {
    background-color: #F3F7F9;
    margin-bottom: 30px;
    padding: 10px;
}

a:link {
    color: #eff5f8;
}

a:visited {
    color: #0c3318;

}

p {
    font-size: medium;
    color: #121213;
}

nav a {color: #fdfdfd;}
nav a:hover{background-color: #bec7a9;}

iframe {
    display: block;
    margin: auto;
}

@media only screen and (max-width: 600px) {
    nav a {
    display: block;
    width: 100%;
    margin: 5px 0px 20px 20px;
