 h1, h2{
    color: #414546;
    font-size: 2.0em;
} 

body {
    background-color: #D0EAB8;
}

nav {
    background-color: #F3F7F9;
    margin-bottom: 30px;
    padding: 10px;
}

a:link {
    color: #195e7e;
}

a:visited {
    color: #041d0c;

}

p {
    color: #414546;
}